<footer class="footer">

    <div class="footer-content">

        <div class="footer-brand">
            <img src="assets/images/logo.png" alt="Take Care">
            <p>Cuidando tu bienestar mental con amor y profesionalismo.</p>
        </div>

        <div class="footer-links">

            <div class="column">
                <h4>Plataforma</h4>
                <a routerLink="/">Inicio</a>
                <a routerLink="/register-role">Registrarse</a>
                <a routerLink="/login">Iniciar sesión</a>
            </div>

            <!-- <div class="column">
                <h4>Usuarios</h4>
                <a routerLink="/register/patient">Pacientes</a>
                <a routerLink="/register/specialist">Especialistas</a>
            </div> -->

            <div class="column">
                <h4>Soporte</h4>
                <a routerLink="/recover-password">Recuperar contraseña</a>
            </div>

        </div>

    </div>

    <div class="footer-bottom">
        <p>© 2026 Take Care. Todos los derechos reservados.</p>
    </div>

</footer>