<footer class="footer" *ngIf="showFooter">

  <div class="footer-content">

    <div class="footer-brand">
      <img src="assets/images/logo.png" alt="Take Care">
      <p>{{ 'footer.brandText' | translate }}</p>
    </div>

    <div class="footer-links">

      <div class="column">
        <h4>{{ 'footer.platform' | translate }}</h4>
        <a routerLink="/">{{ 'footer.home' | translate }}</a>
        <a routerLink="/register-role">{{ 'footer.register' | translate }}</a>
        <a routerLink="/login">{{ 'footer.login' | translate }}</a>
      </div>

      <div class="column">
        <h4>{{ 'footer.support' | translate }}</h4>
        <a routerLink="/recover-password">{{ 'footer.recoverPassword' | translate }}</a>
      </div>

    </div>

  </div>

  <div class="footer-bottom">
    <p>{{ 'footer.copyright' | translate }}</p>
  </div>

</footer>
