<div class="admin-page">

  <h1>Validación de Especialistas</h1>

  <div class="list">

    <div class="card" *ngFor="let sp of specialists">

      <div class="info">
        <h3>{{ sp.name }}</h3>
        <p>{{ sp.email }}</p>
        <p>Especialidad: {{ sp.specialty }}</p>
      </div>

      <div class="cert">
        <img [src]="sp.certification_img" alt="">
      </div>

      <div class="actions">
        <button class="approve" (click)="approve(sp.id)">
          Aprobar
        </button>

        <button class="reject" (click)="reject(sp.id)">
          Rechazar
        </button>
      </div>

    </div>

  </div>

</div>