<div class="patient-page">

<main class="form-container">

<div class="card">

<!-- PASO -->
<!-- <div class="step">

  <span>PASO 1 DE 3</span>

  <div class="progress">
    <div class="bar"></div>
  </div>

</div> -->

<h1>Registro de Paciente</h1>

<p class="subtitle">
Crea tu cuenta para comenzar tu proceso de atención en salud mental.
</p>

<!-- INFORMACIÓN PERSONAL -->

<h3 class="section-title">
Información Personal
</h3>

<div class="grid">

<input placeholder="Nombre completo">

<input placeholder="Correo electrónico">

</div>

<div class="password">

<input type="password" placeholder="Mínimo 8 caracteres">

</div>

<!-- DOCUMENTOS -->

<h3 class="section-title">
Documentos de Verificación
</h3>

<div class="grid">

<div class="upload">

<img src="assets/icons/upload.svg" class="icon">

<p>Subir documento de identidad</p>

</div>

<div class="upload">

<img src="assets/icons/user.svg" class="icon">


<p>Tomar una selfie</p>

</div>

</div>

<!-- TERMINOS -->

<div class="checkbox">

<label>

<input type="checkbox">

Acepto los Términos de Servicio y la Política de Privacidad

</label>

</div>

<div class="actions">

<button class="primary">
Crear cuenta
</button>

<button class="cancel">
Cancelar
</button>

</div>

</div>

</main>

</div>