<div class="login-page">

  <div class="login-card">

    <div class="login-header">
      <div class="icon">
        <span class="material-symbols-outlined">lock</span>
      </div>

      <h1>Tu espacio seguro comienza aquí</h1>
      <p>Take Care: Tu bienestar mental es nuestra prioridad.</p>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label>Email</label>
        <div class="input-icon">
          <span class="material-symbols-outlined">mail</span>
          <input type="email" formControlName="email">
        </div>
      </div>

      <div class="form-group">
        <label>Contraseña</label>
        <div class="input-icon">
          <span class="material-symbols-outlined">lock</span>
          <input type="password" formControlName="password">
        </div>
      </div>

      <div class="login-options">
        <label>
          <input type="checkbox">
          Recordarme
        </label>

        <a routerLink="/recover-password">¿Olvidaste tu contraseña?</a>
      </div>

      <button class="login-btn" type="submit" [disabled]="loading">

        <span *ngIf="!loading">Iniciar Sesión</span>

        <span *ngIf="loading" class="loader"></span>

      </button>

      <p *ngIf="errorMsg" class="error">
        {{ errorMsg }}
      </p>

      <p *ngIf="loginSuccess" class="success">
        ✔ Inicio de sesión exitoso
      </p>

    </form>

    <div class="secure">
      <span class="material-symbols-outlined">verified_user</span>
      <p>Conexión segura</p>
    </div>

  </div>

</div>