<div class="profile-page animate__fadeIn">
  <main class="form-container">

    <form [formGroup]="profileForm" (ngSubmit)="onSave()" class="form-shell">
      
      <div class="card">

        <button type="button" class="back-btn" (click)="goBackToProfile()">
          ← Volver
        </button>

        <div class="profile-header">
          <div class="avatar">
            <img src="assets/images/paciente.png" alt="perfil paciente">
          </div>

          <div class="header-content">
            <span class="tag">Perfil del paciente</span>
            <h1>Editar perfil</h1>
            <p class="subtitle">
              Actualiza tu información y mejora tu presencia en TakeCare.
            </p>
          </div>
        </div>

        <div class="grid">
          <div class="field-group">
            <label>Nombres</label>
            <div class="input-wrap">
              <span class="material-symbols-outlined">person</span>
              <input formControlName="names" [readonly]="!isEditing" placeholder="Ingresa tus nombres">
            </div>
          </div>

          <div class="field-group">
            <label>Primer apellido</label>
            <div class="input-wrap">
              <span class="material-symbols-outlined">badge</span>
              <input formControlName="firstLastname" [readonly]="!isEditing" placeholder="Ingresa tu primer apellido">
            </div>
          </div>

          <div class="field-group">
            <label>Segundo apellido</label>
            <div class="input-wrap">
              <span class="material-symbols-outlined">badge</span>
              <input formControlName="secondLastname" [readonly]="!isEditing" placeholder="Ingresa tu segundo apellido">
            </div>
          </div>

          <div class="field-group">
            <label>Correo electrónico</label>
            <div class="input-wrap readonly-wrap">
              <span class="material-symbols-outlined">mail</span>
              <input formControlName="email" readonly class="readonly-field" placeholder="Correo electrónico">
            </div>
          </div>
        </div>

        <div class="actions" *ngIf="!isEditing">
          <button class="btn-primary" type="button" (click)="toggleEdit()">
            Editar perfil
          </button>
        </div>

        <div class="actions" *ngIf="isEditing">
          <button class="btn-secondary" type="button" (click)="toggleEdit()">
            Cancelar
          </button>

          <button class="btn-primary" type="submit" [disabled]="profileForm.invalid || isLoading">
            {{ isLoading ? 'Guardando...' : 'Guardar cambios' }}
          </button>
        </div>

      </div>
    </form>

  </main>
</div>